[submodule "AIND_Isolation"]
	path = AIND_Isolation
	url = https://github.com/BarbaraJoebstl/AIND_Isolation.git
[submodule "AIND_Planning_Search"]
	path = AIND_Planning_Search
	url = https://github.com/BarbaraJoebstl/AIND_Planning_Search.git
[submodule "AIND_Sudoku"]
	path = AIND_Sudoku
	url = https://github.com/BarbaraJoebstl/AIND_Sudoku.git