[submodule "aind_sudoku"]
	path = aind_sudoku
	url = /Users/barbara/Documents/GitRepos/aind_sudoku/
[submodule "AIND_Isolation"]
	path = AIND_Isolation
	url = https://github.com/BarbaraJoebstl/AIND_Isolation.git